html,
body {
  margin: 0;
  padding: 0;
  background-color: #faf7f5 !important;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-size: 16px;
  overscroll-behavior: none;
}